
.Rproj.user/608AAC96/rmd-outputs
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/608AAC96/saved_source_markers
.Rproj.user/608AAC96/pcs/workbench-pane.pper
.Rproj.user/608AAC96/pcs/windowlayoutstate.pper
.Rproj.user/608AAC96/pcs/source-pane.pper
.Rproj.user/608AAC96/pcs/files-pane.pper
